# slats config file

# This config file is looked for at
#
# - repository_base/config.yaml (if running from source)
# - $XDG_CONFIG_HOME/slats/config.yaml
#
# Note that if $XDG_CONFIG_HOME is not defined then $HOME/.config/ is
# used instead.

spotify-username: "myspotifyusername"
spotify-client-id: "myspotifydev_clientid"
spotify-client-secret: "myspotifydev_clientsecret"
spotify-redirect-uri: "myspotifydev_redirecturi"
