# slats config file

# This config file is looked for at
#
# - repository_base/config.yaml (if running from source)
# - $XDG_CONFIG_HOME/slats/config.yaml
#
# Note that if $XDG_CONFIG_HOME is not defined then $HOME/.config/ is
# used instead.

spotify-client-id: "123456789qwertyuiop"
spotify-client-secret: "1234567890qwert"
